{% load static %}
<!DOCTYPE html>
<html>
  <head>
	<title>Password Reset</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="{% static '/css/materialize.min.css' %}"  media="screen,projection"/>
	<style>
		#back_button{
			margin: 20px 0px 0px 20px;
		}
	</style>
  </head>
<header>
  <nav>
  </nav>
</header>  

<a id="back_button" href="/login/" class="waves-effect red btn"><i class="material-icons prefix">arrow_back</i></a>
<div class="container">
	<div class="card-content">
		<h3 class="reset_password_text">Reset password</h3>
		<div class="form-field">
			<label class="reset_email_label" for="email">Email</label>
			<input type="text" name="email" id="email" placeholder="Enter email">
		</div><br>
		<div class="form-field left-align">
			<button id="reset_password" type="button" class="btn-large red" onclick="resetPassword()"><span class="reset_btn_label">Reset</span></button>
		</div>
	</div>		
</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>  
<script type="text/javascript" src="{% static '/js/get_labels.js' %}"></script>
<script type="text/javascript" src="{% static '/js/materialize.min.js' %}"></script>
<script type="text/javascript" src="{% static '/js/forgotpassword.js' %}"></script>
