{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>V2S</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!--Import materialize.css-->
	<link type="text/css" rel="stylesheet" href="{% static '/css/materialize.min.css' %}"  media="screen,projection"/>
  	<link rel="stylesheet" href="{% static '/css/login.css' %}">
</head>
<body class="body">

	<div class="section"></div>
	<main>
		<center>
			<div class="section"></div>
			
			<div class="section"></div>
			
			<div class="container">
				<div class="z-depth-1 grey lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE; ">

					<div style="background: rgba(225,255,255, .6);">
						<div class='row' >
							<div class='col s12'>
								<div class="card-action  teal lighten-2 white-text">
									<center>
										<h3 class="company_label">V2STECH</h3>
									</center>
								</div>
							</div>
						</div>

						<div class='row'>
							<div class='input-field col s12'>
								<i class="material-icons prefix">account_circle</i>
								<label class="validate user_name_label" for="username">Enter your Username</label>
								<input type="text" name="username" id="username" required>
							</div>
						</div>

						<div class='row'>
							<div class='input-field col s12'>
								<i class="material-icons prefix">vpn_key</i>
								<label class="validate password_label" for="password">Enter your Password</label>
								<input type="password" name="password" id="password" required>
							</div>
								<label style='float: right;'>
									<a class='pink-text' href='/forgot_password/'><b>Forgot Password?</b></a>
								</label>
						</div>

						<br />
						<center>
							<div class='row'>
								<button type="submit" id='login_btn' class="btn btn-large waves-effect teal lighten-2" onclick="checkValidations()"><span class="Login_button_label">Login</span></button>
							</div>
						</center>
					</div>
				
				
				</div>
			</div>
		</center>

	<div class="section"></div>
	<div class="section"></div>
	</main>
</body>
</html>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static '/js/login.js' %}"></script>
<script type="text/javascript" src="{% static '/js/materialize.js' %}"></script>