{% extends 'user_authentication/base.html' %}
{% load static %}

{% block content %}

<div id="Dashboard_main">
    <div id="HideDivForView">
        <div id="Document-Dashboard-header">
            <h3 class="main_dashboard_label header">Document Dashboard</h3>
        </div>
        <div class="dropdown-back-button" style="margin-top: 20px; ">
            <button class="btn waves-light back_label" onclick="GotoDashboard()">Back</button>
        </div>
        <div class="container" id="template_container"
            style="border: 2px solid #ee6e73; text-align:center; margin-top: 20px; margin-bottom: 20px;">
            <div id="Template-Dropdown-Header">
                <h5 class="header template_dropdown_label">Choose the template from the dropdown</h5>
            </div>

            <div class="row">
                <div class="input-field col s6 offset-s3" id="Template-dropdown">
                    <select id="Template-dropdown-select" onchange="GetSelectedTemplateId()">
                        <option value="" disabled selected><span class="option_template_label">Choose your option</span>
                        </option>
                    </select>
                    <label class="select_template_label">Select Template</label>
                </div>
            </div>

            <div class="row" id="templateDropdownForm"
                style="border: 2px solid #ee6e73; text-align:center; margin:10px;  padding: 0px 108px 40px 108px;">

            </div>


            <div class="row save-cancel-button">
                <button class="btn  waves-light" onclick="SaveFillTemplate()"><span class="pdf_preview_label">PDF
                        Preview</span></button>
                <button class="btn  waves-light" onclick="GetTemplateDropdown()"><span
                        class="cancel_label">Cancel</span></button>
            </div>

        </div>
        <div id="RenderTemplateDropdown">

            <button class="waves-light btn" onclick="GetTemplateDropdown()"><i
                    class="material-icons left">add_circle</i><span class="add_document_button">Add
                    Document</span></button>
        </div>
        <div id="Dashboard-Datatable-Div">
            <table id="Dashboard-Datatable" class="display" style="width:100%;">
                <caption></caption>
                <thead>
                    <tr>
                        <th class="dt_document_name_label" scope="row">Document Name</th>
                        <th class="dt_template_name_label" scope="row">Template Name</th>
                        <th class="created_by_label" style="width: 150px;" scope="row">Created by</th>
                        <th class="created_by_label" style="width: 150px;" scope="row">Created On</th>
                        <th class="download_label" style="width: 150px;" scope="row">Download</th>
                        <th class="action_btn_label" style="width: 150px;" scope="row">Action</th>

                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <div id="ViewDivTemplate" style="border: 2px solid #ee6e73; text-align:center; margin:10px;  padding: 40px 108px 40px 108px;">
        <h4 style="color: #26a69a;">Fields for Viewing Document</h4>
        <div id="viewFillTemplate">

        </div>
        <div style="margin-top: 20px;">
            <button class="btn waves-light" onclick="GotoDashboard()"><i class="material-icons left">arrow_back</i><span
                    class='back_label'>Back</span></button>
        </div>
    </div>
    <div id="EditDivTemplate" style="border: 2px solid #ee6e73; text-align:center; margin:10px;  padding: 40px 108px 40px 108px;">
        <h4 style="color: #26a69a;">Fields for Editing Document</h4>
        <div id="editFillTemplate">

        </div>
        <div class="row" style="margin-top: 20px;">
            <button class="btn waves-light" onclick="GotoDashboard()"><i class="material-icons left">arrow_back</i><span
                    class='back_label'>Back</span></button>
            <button class="btn waves-light" onclick="SaveEditedTemplate()"><span class="pdf_preview_label">PDF
                    Preview</span></button>
        </div>
    </div>
    <div id="pdf_fill">
        <span id="pdf_label_fill"><i class="material-icons left">visibility</i><span class="pdf_preview_label">PDF
                Preview</span></span>
        <object id="pdf_preview_fill" data='' type='application/pdf' width='100%' height='700px' aria-label="pdf_label">
            <p style="display: none;">This object has no text.</p>
        </object>
    </div>
    <div id="pdf_save_cancel">

    </div>
    <div id="pdf_edit">
        <span id="pdf_label_edit"><i class="material-icons left">visibility</i><span class="pdf_preview_label">PDF
                Preview</span></span>
        <object id="pdf_preview_edit" data='' type='application/pdf' width='100%' height='700px' aria-label="pdf_label">
            <p style="display: none;">This object has no text.</p>
        </object>
    </div>
    <div id="pdf_save_cancel_edit">

    </div>

</div>
<script>


</script>
<script type="text/javascript" src="{% static '/js/get_labels.js' %}"></script>
<script>
    // Document name avaliable in database
$('#Document_Name').on('blur', function () {
    var document_name = $('#Document_Name').val();
    alert(document_name)
    var get_url = '/dashboard/';
    if (document_name == '') {
        var document_name_state = false;
        return;
    }
    $.ajax({
        url: 'check_document_name/',
        headers: { Authorization: 'Bearer ' + access },
        type: 'post',
        data: {
            'document_name_check': 1,
            'document_name': document_name,
        },
        success: function (response) {

            if (response.message == 'taken') {
                document_name_state = false;
                $('#Document_Name').addClass("invalid");
                M.toast({ html: response.toast_msg, classes: 'red rounded' })
            }
            else if (response.message == 'not_taken') {
                document_name_state = true;
                $('#Document_Name').addClass("valid");
                M.toast({ html: response.toast_msg, classes: 'green darken-1 rounded' })
            }
        },
        error: function (xhr) {
            if (xhr.status == 401) {
                getaccessTokenForUrl(get_url);
            }
            let parsed_jsondata = JSON.parse(xhr.responseText)
            // alert(parsed_jsondata.error)
            M.toast({ html: parsed_jsondata.error, classes: 'red rounded' })
        }
    });
});
</script>
<script src="/static/js/main_dashboard.js"></script>
<script src="/static/js/main_datatable.js"></script>

{% endblock %}