{% extends 'user_authentication/base.html' %}
{% load static %}

{% block content %}
<div id="Dashboard_main">
    <div id="Document-Dashboard-header">
        <h3 class="dashboard_label header">Document Dashboard</h3>
    </div>
    <div id="Template-Dropdown-Header">
        <h3 class="header">Template Dropdown</h3>
    </div>
    <div id="RenderTemplateDropdown">
        <button class="waves-light btn" onclick="GetTemplateDropdown()"><i
                class="material-icons left">add_circle</i><span class="add_user_button">Document</span></button>
    </div>

    <div class="input-field col s12" id="Template-dropdown">
        <select>
            <option value="" disabled selected>Choose your option</option>
        </select>
        <label>Select Template</label>
    </div>

    <div id="templateDropdownForm">
        <form action="" id="templateDropdownFormAppend" onSubmit="return false;">
            <h1>hi</h1>
        </form>
    </div>

    <div id="Dashboard-Datatable-Div">
        <table id="Dashboard-Datatable" class="display" style="width:auto;">
            <thead>
                <tr>
                    <th class="dt_sr_no_label">Sr No.</th>
                    <th class="dt_doc_name_label">Document Name</th>
                    <th class="dt_template_name_label">Template Name</th>
                    <th class="dt_preview_label">Preview</th>
                    <th class="action_btn_label" style="width: 150px;">Action</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<script src="/static/js/main_dashboard.js"></script>
<script src="/static/js/main_datatable.js"></script>

{% endblock %}