{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Add User Page</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
    <link type="text/css" rel="stylesheet" href="{% static '/css/materialize.min.css' %}"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{% static '/user_registration/css/user_registration_form.css' %}"  media="screen,projection"/>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<header>
    <nav>
        <div class="nav-wrapper">
            <a id="back_button" onclick="getdashboard()" data-activates="slide-out" class="brand-logo" style="margin-left: 10px; margin-top: 1px;"><i class="material-icons prefix">arrow_back</i><span class="Menu_label">Back</span></a>
        </div>
    </nav>
</header>
<div class="container">
	<div class="card-content">
	<div id="Dashboard_main">
	<h3 class="dashboard_label header">Template Management</h2>
    <!-- <br> -->
    <a onclick="GetAddTemplatePage()" class="add_template waves-effect waves-light btn"
        style="margin-bottom: -124px;"><i class="material-icons left">add_circle</i><span class="add_template_button">Add Template</span></a>

    <table id="template_datatable" class="display" style="width:100%;">
        <thead>
            <tr>
                <th class="dt_sr_no_label">Sr No.</th>
                <th class="dt_template_name_label">Template Name</th>
                <th class="dt_preview_label">Preview</th>
                <th class="action_btn_label">Action</th>
            </tr>
        </thead>
    </table>
	</div>
</div>
</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="{% static '/js/get_labels.js' %}"></script>
<script type="text/javascript" src="{% static '/js/get_refresh_token.js' %}"></script>
<script src="//cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="{% static '/js/materialize.min.js' %}"></script>
<script type="text/javascript" src="{% static '/template_management/add_template.js' %}"></script>
<!-- <script src="{% static '/js/header.js' %}"></script> -->
<script src="/static/js/manage_template_dashboard.js"></script>
<script src="/static/js/template_datatable.js"></script>
<script src="/static/js/logout.js"></script>
<script src="/static/js/get_refresh_token.js"></script>
<script>

function getData() {
  $.ajax({
    url: '/dashboard/template_management_data/',
    headers: { Authorization: 'Bearer '+ userDetails.access},
    type: 'GET',

    success: function(response){
    },
    error: function(xhr) {
        if (xhr.status == 401) {
            getaccessTokenForMainDashboard();
        }
        if (xhr.status == 403) {
            logout();
        }
    }
  });
}


    $(document).ready(function(){

      var userDetails = localStorage.getItem("UserDetails")
      if (userDetails == null){
          window.location.href = "/login/"
      }
      else {
        var userDetails = getValues('UserDetails')
      	var access = userDetails.access
        getData();
      }









        $('select').formSelect();
            // Check username avaliable in database
    $('#user_name_edit').on('blur', function(){
        var user_name = $('#user_name_edit').val();
        if (user_name == '') {
            user_name_state = false;
            return;
        }
        $.ajax({
          url: '/user/check_username/',
          type: 'post',
          data: {
              'user_name_check' : 1,
              'user_name' : user_name,
          },
          success: function(response){

            if (response.message == 'taken' ) {
                user_name_state = false;
                $('#user_name_edit').addClass("invalid");
                M.toast({html: response.toast_msg , classes: 'red rounded'})
            }
            else if (response.message == 'not_taken') {
                username_state = true;
                $('#user_name_edit').addClass("valid");
                M.toast({html: response.toast_msg, classes: 'green darken-1 rounded'})
            }
          },
          error: function(xhr) {
            parsed_jsondata = JSON.parse(xhr.responseText)
            // alert(parsed_jsondata.error)
            M.toast({html: parsed_jsondata.error, classes: 'red rounded'})
        }
        });
    });

    // Check emailid avaliable in database
    $('#email_edit').on('blur', function(){
        var email = $('#email_edit').val();
        if (email == '') {
            email_state = false;
            return;
        }
        $.ajax({
        url: '/user/check_email/',
        type: 'post',
        data: {
            'email_check' : 1,
            'email' : email,
        },
        success: function(response){
            if (response.message == 'taken' ) {
                email_state = false;
                $('#email_edit').addClass("invalid");
                M.toast({html: response.toast_msg, classes: 'red rounded'})
            }
            else if (response.message == 'not_taken') {
                email_state = true;
                $('#email_edit').addClass("valid");
            }

        },
        error: function(xhr) {
            parsed_jsondata = JSON.parse(xhr.responseText)
            // alert(parsed_jsondata.error)
            M.toast({html: parsed_jsondata.error, classes: 'red rounded'})
        }
        });
    });
});
 </script>
