<!DOCTYPE html>
{% load static %}
{% load materializecss %}
<html>
<head>
    <title></title>
{% block css %}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet" href="{% static '/css/materialize.min.css' %}"  media="screen,projection"/>
{% endblock css %}
</head>
{% block main %}

<div class="section"></div>
	<main>
		<center>
			<div class="section"></div>
			
			<h5 class="white-text">Please, login into your account</h5>
			<div class="section"></div>
            <h4  class="card-title"> Change your password</h4>
            <div class="container">
                <div class="z-depth-1 grey lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE; ">
                    <form onSubmit="return false;">
                        {% csrf_token %}
                         <div class='row'>
							<div class='input-field col s12'>
								<i class="material-icons prefix">vpn_key</i>
								<label class="validate" for="old_password">Old Password</label>
								<input type="password" name="old_password" id="old_password" required>
							</div>
                         </div> 
						<div class='row'>
							<div class='input-field col s12'>
								<i class="material-icons prefix">vpn_key</i>
								<label class="validate new_password_label" for="new_password">New Password</label>
								<input type="password" name="new_password" id="new_password" required>
                            </div>
                        </div>
                        <div class='row'>
							<div class='input-field col s12'>
								<i class="material-icons prefix">vpn_key</i>
								<label class="validate new_password_label" for="new_password_confirm">New Password confirmation</label>
								<input type="password" name="new_password_confirm" id="new_password_confirm" required>
                            </div>
                        </div>
                        <button id="password_change_btn" onclick="changepassword()" class="btn btn-success">Change password</button>
                        <a id="back_button" onclick="getdashboard()" class="waves-effect btn">Back</a>
                    </form>
                </div>
            </div>
        </center>
        <div class="section"></div>
        <div class="section"></div>
    </main>
{% endblock %}



{% block javascript %}
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script> 

<script type="text/javascript" src="{% static '/js/materialize.js' %}"></script>
<script type="text/javascript" src="{% static '/js/password_change_form.js' %}"></script>
{% endblock javascript %}

</html>