{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>User Dashboard</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
    <link type="text/css" rel="stylesheet" href="{% static '/css/materialize.min.css' %}" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="{% static '/user_registration/css/user_registration_form.css' %}"
        media="screen,projection" />
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<header>
    <nav>
        <div class="nav-wrapper">
            <a id="back_button" onclick="getdashboard()" data-activates="slide-out" class="brand-logo"
                style="margin-right: 10px; margin-top: 1px;"><i class="material-icons prefix">arrow_back</i><span
                    class="Menu_label">Back</span></a>
        </div>
    </nav>
</header>
<div class="container">
    <div class="card-content">
        <div id="Dashboard_main">
            <h3 class="dashboard_label header">User Management</h2>
                <div class="row">
                    <div class="col s6 m4">
                        <div class="card horizontal">
                            <div class="card-image">
                            </div>
                            <div class="card-stacked">
                                <div class="card-content">
                                    <span class="active_user_label">Active Users</span>
                                    <h2>{{ active }} </h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col s6 m4">
                        <div class="card horizontal">
                            <div class="card-image">
                            </div>
                            <div class="card-stacked">
                                <div class="card-content">
                                    <span class="inactive_user_label">Inactive Users</span>
                                    <h2>{{ inactive }}</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a onclick="GetAddUserPage()" class="add_user waves-effect waves-light btn"
                    style="margin-bottom: -124px;"><i class="material-icons left">person_add</i><span
                        class="add_user_button">Add user</span></a>

                <table id="user_datatable" class="display" style="width:100%">
                    <thead>
                        <tr>
                            <th class="dt_sr_no_label">Sr No.</th>
                            <th class="user_name_label">Username</th>
                            <th class="email_label">Email</th>
                            <th class="user_status_label">Status</th>
                            <th class="action_btn_label">Action</th>
                        </tr>
                    </thead>
                </table>
        </div>


        <div id='dashboardRegisterForm'>
            <!-- <a id="back_button_form" onclick="getUserDashboardDatatable()" class="waves-effect waves-light btn"><i class="material-icons prefix">arrow_back</i>User Management Dashboard</a> -->
            <button class="btn waves-effect waves-light" onclick="getUserDashboardDatatable();"
                style="margin-top: 20px;"><span class="submit_label">User Management Dashboard</span>
                <i class="material-icons left">arrow_back</i>
            </button>
            <div id="DisableDiv" class="form-border row">
                <form id="registration_form" class="col s8 push-s2" method="post">
                    {% csrf_token %}

                    <div class="row">
                        <div class="input-field col s6">
                            <i class="material-icons prefix">account_circle</i>
                            <input placeholder="eg.Dave" id="user_name_edit" type="text" class="validate" required=""
                                aria-required="true">
                            <label class="user_name_label" for="user_name_edit">Username</label>
                            <span class="helper-text" data-error="Sorry... Username already taken"
                                data-success="Username available"></span>
                        </div>
                        <div class="input-field col s6">
                            <i class="material-icons prefix">edit</i>
                            <input placeholder="eg.Dave" id="first_name_edit" type="text" class="validate" required=""
                                aria-required="true">
                            <label class="first_name_label" for="first_name_edit">First Name</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s6">
                            <i class="material-icons prefix">edit</i>
                            <input placeholder="eg.Dave" id="last_name_edit" type="text" class="validate" required=""
                                aria-required="true">
                            <label class="last_name_label" for="last_name_edit">Last Name</label>
                        </div>
                        <div class="input-field col s6">
                            <i class="material-icons prefix">mail</i>
                            <input placeholder="eg.Dave" id="email_edit" type="email" class="validate" required=""
                                aria-required="true">
                            <label class="email_label" for="email_edit">Email</label>
                            <span class="helper-text" data-error="Email Id is already registered"
                                data-success="check once again whether email address is correct."></span>
                        </div>

                    </div>


                    <div class="row">
                        <div class="input-field col s12 m6">
                            <select id="role_drop_down" class="validate">
                                <option class="select_one_label" value="" disabled selected><span
                                        class="select_one_label"></span></option>
                            </select>
                            <label id="role_label" data-error="Select an option">Assign Role</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="switch col s6">
                            <label class="user_status_label" for="user_status_edit">User Status ?</label>
                            <label><br>
                                <span class="user_status_off_label">Off</span>
                                <input type="checkbox" name="user_status_edit" id="user_status_edit" required
                                    class="validate">
                                <span class="lever"></span>
                                <span class="user_status_on_label">On</span>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col push-s3">
                            <button id="submit_edit_form" class="btn waves-effect waves-light" type="submit"
                                name="submit" onclick="EditUserValidation();"><span class="submit_label">Save Edited
                                    User</span>
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="{% static '/js/get_refresh_token.js' %}"></script>
<script src="//cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="{% static '/js/materialize.min.js' %}"></script>
<!-- <script src="{% static '/js/header.js' %}"></script> -->
<script src="{% static '/js/user_dashboard.js' %}"></script>
<script src="{% static '/js/user_datatable.js' %}"></script>
<script src="{% static '/js/logout.js' %}"></script>

<script>


function getData(){
  $.ajax({
      url: '/dashboard/user_management_data/',
      headers: { Authorization: 'Bearer '+ userDetails.access},
      type: 'GET',

      success: function(response){
      },
      error: function(xhr) {
          if (xhr.status == 401) {
              getaccessTokenForMainDashboard();
          }
          if (xhr.status == 403) {
              logout();
          }
      }
  });
}
    $(document).ready(function () {
      var userDetails = localStorage.getItem("UserDetails")
      if (userDetails == null){
          window.location.href = "/login/"
      }
      else{
        var userDetails = getValues('UserDetails')
        var access = userDetails.access
        getData();
      }

        $('select').formSelect();
        // Check username avaliable in database
        $('#user_name_edit').on('blur', function () {
            var user_name = $('#user_name_edit').val();
            if (user_name == '') {
                user_name_state = false;
                return;
            }
            $.ajax({
                url: 'check_username/',
                type: 'post',
                data: {
                    'user_name_check': 1,
                    'user_name': user_name,
                },
                success: function (response) {

                    if (response.message == 'taken') {
                        user_name_state = false;
                        $('#user_name_edit').addClass("invalid");
                        M.toast({ html: response.toast_msg, classes: 'red rounded' })
                    }
                    else if (response.message == 'not_taken') {
                        username_state = true;
                        $('#user_name_edit').addClass("valid");
                        M.toast({ html: response.toast_msg, classes: 'green darken-1 rounded' })
                    }
                },
                error: function (xhr) {
                    parsed_jsondata = JSON.parse(xhr.responseText)
                    // alert(parsed_jsondata.error)
                    M.toast({ html: parsed_jsondata.error, classes: 'red rounded' })
                }
            });
        });

        // Check emailid avaliable in database
        $('#email_edit').on('blur', function () {
            var email = $('#email_edit').val();
            if (email == '') {
                email_state = false;
                return;
            }
            $.ajax({
                url: 'check_email/',
                type: 'post',
                data: {
                    'email_check': 1,
                    'email': email,
                },
                success: function (response) {
                    if (response.message == 'taken') {
                        email_state = false;
                        $('#email_edit').addClass("invalid");
                        M.toast({ html: response.toast_msg, classes: 'red rounded' })
                    }
                    else if (response.message == 'not_taken') {
                        email_state = true;
                        $('#email_edit').addClass("valid");
                    }

                },
                error: function (xhr) {
                    parsed_jsondata = JSON.parse(xhr.responseText)
                    // alert(parsed_jsondata.error)
                    M.toast({ html: parsed_jsondata.error, classes: 'red rounded' })
                }
            });
        });
    });
</script>

</html>
